<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>Список задач</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<script th:inline="javascript">

    async function getTasks() {
        return (await fetch("task")).json()
    }

    async function createTableFromJson(jsonData, tableId) {
        // Проверяем, есть ли данные и ID таблицы
        jsonData = await jsonData
        if (!jsonData || !tableId) {
            return;
        }

        // Получаем элемент таблицы
        const table = document.getElementById(tableId);

        // Создаем заголовок таблицы
        const headerRow = table.insertRow();
        const keys = ['id', 'description']; // Получаем ключи из первого объекта JSON

        // Заполняем строки таблицы данными
        jsonData.forEach(row => {
            const tableRow = table.insertRow();
            keys.forEach(key => {
                const cell = tableRow.insertCell();
                cell.textContent = row[key];
            });
            let cell = tableRow.insertCell()
            cell.innerHTML += '<a href="/task-ui/' + row['id'] + '"><button>Решить конкретный случай</button></a>'
            cell = tableRow.insertCell()
            cell.innerHTML += '<a href="/task-ui/' + row['id'] + '/testcase"><button>Галерея тесткейсов</button></a>'
        });
    }
</script>
<body>

<table id="tasks-table">
    <tr>
        <th>Идентификатор задачи</th>
        <th>Описание задачи</th>
        <th></th>
        <th></th>
    </tr>
</table>

<script>
    createTableFromJson(getTasks(), 'tasks-table')
</script>

</body>
</html>
