<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>Добавить тесткейс</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body style="margin-left: 10px">

<header style="margin-bottom: 15px">
    <span th:text="${user.login}"></span>
    <span th:text="${user.roles}"></span>
    <button id="logout-button" class="btn btn-danger" onclick="logoutHandler()">Выйти из системы</button>
    <script>
        async function logoutHandler() {
            await fetch("/auth/logout", {
                method: "POST"
            })
            window.location.replace("/auth-ui/login")
        }
    </script>
</header>

<form id="test-case-form" action="#" th:action="@{/task/__${taskId}__/testcase}" method="post">

    <p>Идентификатор</p>
    <input type="text" id="test-case-id" value="" required>

    <div th:each="field: ${expectedArgs.fields}">
        <p th:text="${field}"></p>
        <input type="text" class="field-value" th:attr="data-fieldname=${field}" value="" required>
    </div>

    <p>Ожидаемый ответ</p>
    <textarea id="test-case-answer"></textarea>

    <p><input type="submit" value="Сохранить тесткейс" class="btn btn-success"/></p>
</form>


<a th:href="@{/task-ui/__${taskId}__/testcase}">
    <button class="btn btn-secondary">Назад к списку тесткейсов</button>
</a>

<script th:inline="javascript">

    /*<![CDATA[*/
    var taskId = /*[[${taskId}]]*/ '';
    /*]]>*/

    function InputArguments() {
        this.values = {}
    }

    function Answer() {
        this.value = ""
    }

    function TestCase() {
        this.id = ""
        this.arguments = new InputArguments()
        this.answer = new Answer()
    }

    async function handleForm(event) {
        event.preventDefault()
        console.log("Отправлено!")

        let testCaseObject = new TestCase()

        testCaseObject.id = document.getElementById('test-case-id').value

        for (const field of document.getElementsByClassName('field-value')) {
            let key = field.getAttribute('data-fieldname')
            testCaseObject.arguments.values[key] = field.value
        }

        testCaseObject.answer.value = document.getElementById('test-case-answer').value

        let jsonBody = JSON.stringify(testCaseObject);
        console.log(jsonBody)
        let response = await fetch('/task/' + taskId + "/testcase", {
            method: 'POST',
            body: jsonBody,
            headers: {
                "Content-Type": "application/json",
            }
        })

        if (response.ok) {
            alert("Тесткейс успешно сохранён")
            form.reset()
        } else {
            alert(await response.text())
        }
    }

    const form = document.getElementById('test-case-form')
    form.addEventListener('submit', handleForm)

</script>

</body>
</html>
